# Generate: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
IPAROOM_ADMIN_TOKEN=
# pnpm dev/start auto-selects a private LAN IPv4 address if these are blank.
# Set IPAROOM_LAN_HOST to an address assigned to this machine to choose an interface.
IPAROOM_LAN_HOST=
IPAROOM_BASE_URL=
IPAROOM_DATA_DIR=./data
IPAROOM_MAX_UPLOAD_BYTES=1073741824
BODY_SIZE_LIMIT=1G
# Docker HTTP: IPAROOM_LAN_HOST=192.168.1.10
#              IPAROOM_BASE_URL=http://192.168.1.10:3000
# Docker HTTPS overlay automatically uses https://192.168.1.10:8443
